@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Cinzel:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Inter:wght@300;400;500;600;700;800;900&family=Raleway:ital,wght@0,600;0,700;0,800;1,600;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  /* color: ; */
}

.thumbs {
  @apply  flex-wrap justify-center mt-10  md:flex hidden;
  /* color: ; */
}

.carousel-status {
  @apply hidden;
}
.swiper-pagination  { 
  position: static !important;
  margin-top: 30px !important;
} 
